# Binaries
*.exe
*.dll
*.so
*.dylib
*.test
shortener
staticlint
cmd/shortener/main
cmd/shortener/shortener
bin/

# Coverage & Logs
*.out
coverage.out
coverage.html
*.log

# Local data & temp files
storage.json
request.json
16717085

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Env & Dependencies
.env
vendor/
